.story__item {
	display: inline-block;
	height: 100%;
	position: relative;
	top: 0;
	vertical-align: top;
	font-size: 0;
}

.story__image-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	box-shadow: 0px 0px 5px 0px rgba(34,34,34,0.12);
	font-size: 0;
	line-height: 0;
}

.story__image-wrapper:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $unloaded-grey;
	transition: opacity $timing--loaded ease;
	opacity: 0.5;
	cursor: wait;
	font-size: 0;
}

.story__image-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.1s ease-in, filter 0.1s ease-in, -webkit-filter 0.1s ease-in;
	-webkit-filter: blur(8px);
	filter: blur(8px);
	transform: scale(1.04);
	pointer-events: none;
	font-size: 0;
}

.story__image-loader--hidden {
	opacity: 0;
}

.story__image-wrapper--loaded:after {
	opacity: 0;
	pointer-events: none;
}

.story__image {
	width: auto;
	cursor: zoom-in;
	font-size: 0;
}

.story__image--gif {
	cursor: default;
}

.story__image--hidden {
	opacity: 0;
}

.story__item--size-small .story__image {
	height: $size--small-image;

	@include mobile {
		height: $size--small-image--mobile;
	}
}

.story__item--size-medium .story__image {
	height: $size--medium-image;

	@include mobile {
		height: $size--medium-image--mobile;
	}
}

.story__item--size-large .story__image {
	height: $size--large-image;
	// height: 100%;
}

.story__item--margin-micro, .story__item--margin-mirco {
	margin-right: 3vw;

	@include mobile {
		margin-right: 20px;
	}
}

.story__item--margin-small {
	margin-right: 10vw;

	@include mobile {
		margin-right: 80px;
	}
}

.story__item--margin-medium {
	margin-right: 17vw;

	@include mobile {
		margin-right: 120px;
	}
}

.story__item--margin-large {
	margin-right: 36vw;

	@include mobile {
		margin-right: 220px;
	}
}

.story__item--size-small.story__item--align-top .story__image-wrapper {
	margin-top: #{(100vh - $size--medium-image) / 2};

	@include mobile {
		margin-top: #{(100vh - $size--medium-image--mobile) / 2};
	}
}

.story__item--size-small.story__item--align-middle .story__image-wrapper {
	margin-top: #{(100vh - $size--small-image) / 2};

	@include mobile {
		margin-top: #{(100vh - $size--small-image--mobile) / 2};
	}
}

.story__item--size-small.story__item--align-bottom .story__image-wrapper {
	margin-top: #{(100vh - $size--small-image) - ($size--medium-image - $size--small-image) / 2};

	@include mobile {
		margin-top: #{(100vh - $size--small-image--mobile) - ($size--medium-image--mobile - $size--small-image--mobile) / 2};
	}
}

.story__item--size-medium.story__item--align-top .story__image-wrapper {
	margin-top: 0;
}

.story__item--size-medium.story__item--align-middle .story__image-wrapper {
	margin-top: #{(100vh - $size--medium-image) / 2};

	@include mobile {
		margin-top: #{(100vh - $size--medium-image--mobile) / 2};
	}
}

.story__item--size-medium.story__item--align-bottom .story__image-wrapper {
	margin-top: #{100vh - $size--medium-image};

	@include mobile {
		margin-top: #{100vh - $size--medium-image--mobile};
	}
}

.story__item:last-child {
	margin-right: 17vw;

	@include mobile {
		margin-right: 120px;
	}
}


.story__caption {
	@extend %typo--caption;
	display: inline-block;
	white-space: normal;
	max-width: 400px;
}

.story__caption--right {
	vertical-align: bottom;
	width: 300px;
	margin-left: 18px;
	margin-bottom: 12px;
	position: relative;

	@include mobile {
		margin-bottom: 12px;
		margin-left: 12px;
	}
}

.story__caption--below {
	display: block;
	max-width: 100%;
	margin-top: 9px;
	position: absolute;
	max-width: 400px;

	@include mobile {
		margin-top: 3px;
	}
}


.story__debug {
	position: absolute;
	bottom: -55px;
	font-size: 12px;
}