.showstopper {
	background: $unloaded-grey;
}

.showstopper, .showstopper__inner {
	position: relative;
	width: 100%;
	height: 50vw;
	max-height: 87vh;
	
	transition: opacity $timing--overview-hover ease-in-out;
	cursor: s-resize;
	// pointer-events: none;

	@include mobile {
		height: 200vw;
		max-height: 80vh;
		transition: opacity $timing--overview-hover--mobile ease-in-out;
	}
}

.showstopper--dimmed .showstopper__inner {
	opacity: 0;

	@include mobile {
		opacity: 0;
	}
}

.showstopper__shim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $unloaded-grey;
	transition: opacity 0.05s ease;
	opacity: 0;
}

.showstopper__inner {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	background: $liam-yellow;
}

.showstopper__canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 1.6s cubic-bezier(0.1, 0, 0.4, 1);
	opacity: 0;
	// background: rgba(255,0,0,0.6);
}

.showstopper__canvas--ready {
	opacity: 1;
}

// .showstopper__arrow {
// 	position: absolute;
// 	bottom: 20px;
// 	left: 50%;
// 	display: inline-block;
// 	width: 44px;
// 	height: 17px;
// 	margin-left: -21px;
// 	background-image: url('../icons/arrow--down.png');
// 	opacity: 0;
// 	transform: translateY(-17px);
// 	transition: opacity $timing--loaded cubic-bezier(0.000, 0.000, 0.1, 1), transform 0.85s cubic-bezier(0.000, 0.000, 0.1, 1);
// 	cursor: pointer;
// }

// .showstopper__arrow--ready {
// 	transform: translateY(0);
// 	opacity: 1;
// }

// .showstopper__arrow--ready:hover {
// 	transform: translateY(4px);
// }

.showstopper__wordmark {
	position: relative;
	@extend %typo--showstopper-wordmark;
	transition: color $timing--overview-hover ease-in-out, text-shadow $timing--overview-hover ease-in-out;
}

.showstopper__wordmark--ready {
	color: #FFFFFF;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.27);
}