.overview-story {
	cursor: pointer;
	display: block;
	font-size: 0;
	display: inline;
	transition: opacity $timing--overview-hover ease-in-out;
	// flex-wrap: wrap;
	// align-items: flex-end;
	// justify-content: space-between;
}

.overview-story--mouse-over {
	opacity: 1;
}

.overview-story--dimmed {
	opacity: 0.07;
}