.overview-story {
	cursor: pointer;
	font-size: 0;
	display: inline;
	transition: opacity $timing--overview-hover ease-in-out;
	position: relative;

	@include mobile {
		display: block;
		margin-bottom: calc(5vw + 20px);
	}
}

.overview-story:last-child {
	@include mobile {
		margin-bottom: 0;
	}
}

.overview-story__title {
	@extend %typo--overview-story-title;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #555555;
	transform: translateY(100%);
	padding-top: 5px;
	transition: opacity $timing--overview-hover ease-in-out;
	opacity: 0;

	@include mobile {
		opacity: 1;
		white-space: nowrap;
		transition: opacity $timing--overview-hover--mobile ease-in-out;
	}
}

.overview-story:hover .overview-story__title {
	opacity: 1;
}

.overview-story--mouse-over {
	opacity: 1;
}

.overview-story--dimmed {
	opacity: 0.04;

	@include mobile {
		opacity: 0;
	}
}