.story {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.story__inner {
	white-space: nowrap;
	position: relative;
	width: auto;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	box-shadow: 0px 0px 20px 0px rgba(34,34,34,0.1);
}

.story__cover {
	// width: 33vw;
	// max-width: 695px;
	height: 100%;
	position: relative;
	top: 0;
	vertical-align: middle;
	font-size: 0;
	padding: #{(100vh - $size--medium-image) / 2} #{$size--site-side-padding * 2.5} $size--site-side-padding $size--site-side-padding;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;

	@include mobile {
		padding: #{(100vh - $size--medium-image--mobile) / 2} #{$size--site-side-padding--mobile * 2.5} $size--site-side-padding--mobile $size--site-side-padding--mobile;
	}
}

.story__cover:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	// width: 1px;
	height: 100%;
	background: rgba(#000, 0.07);
}

.story__title-wrapper {
	margin-top: -13px;
}

.story__title {
	@extend %typo--title;
}

.story__subtitle {
	@extend %typo--subtitle;
	position: absolute;
	max-width: 80%;
	white-space: normal;
}

.story__tag-wrapper {
	max-width: 300px;
	display: inline-block;
	position: relative;
	white-space: normal;
}

.story__tag {
	@extend %typo--tag;
	line-height: 1em;
	display: inline-block;
	margin-right: 6px;
	border: 1px solid rgba(44,44,44,1);
	border-radius: 3px;
	padding: 6px 5px 3px 6px;
	position: relative;
	white-space: nowrap;
	margin-bottom: 6px;
	cursor: help;
}

.story__next-up {
	display: block;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba($unloaded-grey, 0.8);
	opacity: 0;
	transition: opacity 0.22s ease;
	flex-direction: column;
	// display: none;
}

.story__next-up--visible {
	opacity: 1;
}

.story__next-up-inner {
	text-align: center;
	white-space: normal;
	padding: $size--site-side-padding;

	@include mobile {
		padding: $size--site-side-padding--mobile;		
	}
}

.story__next-up-span-wrapper {
	display: block;
	text-align: left;
}

.story__next-up-span {
	display: block;
}

.story__next-up-span--text {
	@extend %typo--next-up;
}

.story__next-up-span--title {
	@extend %typo--next-up-title;
	margin-bottom: 20px;
}

.story__next-up-image {
	box-shadow: 0px 0px 2px 0px rgba(34,34,34,0.08);
	width: calc(2vw + 40px);
	margin: 0 4px 12px 4px;
}