.nav {
	position: fixed;
	top: 25px;
	left: 0;
	right: 0;
	padding: 0 $size--site-side-padding;
	-webkit-user-select: none;
	user-select: none;
	transition: opacity $timing--lightbox-show ease;

	@include mobile {
		padding: 0 $size--site-side-padding--mobile;
	}
}

.nav--hidden {
	opacity: 0;
	pointer-events: none;
}

.nav a {
	text-decoration: none;
	color: inherit;
}

.nav__breadcrumbs {
	display: inline-block;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	vertical-align: top;
}

.nav__breadcrumbs li {
	display: inline-block;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: top;
}

.nav__breadcrumb {
	@extend %typo--breadcrumb;
	-webkit-user-select: none;
	user-select: none;
	transition: opacity $timing--lightbox-show ease;
}

.nav__breadcrumb:hover + .nav__breadcrumb {
	opacity: 0;
}

.nav__wordmark:hover ~ .nav__breadcrumb {
	opacity: 0;
}

.nav__breadcrumb-dash {
	@extend %typo--breadcrumb;
	display: inline-block;
	margin: 0 3px;
	-webkit-user-select: none;
	user-select: none;
	// vertical-align: middle;
}

.nav__wordmark {
	@extend %typo--wordmark;
	vertical-align: top;
}

.nav__about-toggle {
	@extend %typo--breadcrumb;
	position: absolute;
	right: $size--site-side-padding;
	cursor: pointer;
	text-align: right;
	min-width: 95px;

	@include mobile {
		right: $size--site-side-padding--mobile;
	}
}

.nav__icon {
	@include mobile {
		font-size: 22px;
		vertical-align: middle;
		line-height: 20px;
	}
}

.nav__about-toggle-open {
	-webkit-user-select: none;
	user-select: none;
}

.nav__about-toggle-back {
	position: relative;
	-webkit-user-select: none;
	user-select: none;
}

.nav__back-hand {
	position: absolute;
	margin-left: -17px;
	line-height: 1.4em;
}

.nav__about-toggle--disabled {
	pointer-events: none;
}

.nav__about-toggle--inactive .nav__about-toggle-back {
	display: none;
}

.nav__about-toggle--active .nav__about-toggle-back {
	display: block;
}

.nav__about-toggle--inactive .nav__about-toggle-open {
	display: block;
}

.nav__about-toggle--active .nav__about-toggle-open {
	display: none;
}