.loader {
	width: 500px;
	height: 20px;
	position: absolute;
	display: inline-block;
	border-radius: 3px;
	margin-top: 60px;
	overflow: hidden;
	transition: opacity $timing--overview-hover ease-in-out;

	@include mobile {
		width: calc(100% - #{$size--site-side-padding--mobile * 2});
		max-width: 430px;
		height: 15px;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
	}
}

.loader--pending {
	opacity: 1;
}

.loader--loaded {
	opacity: 0;
}

.loader__image {
	height: 100%;
	width: 3.33%;
	position: relative;
	display: inline-block;
	transition: opacity 0.12s ease-out;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.loader__image--dim {
	opacity: 0.2;
}

.loader__image--lit {
	opacity: 1;
}