.loader {
	width: 430px;
	height: 15px;
	position: absolute;
	display: inline-block;
	border-radius: 3px;
	margin-top: 40px;
	overflow: hidden;
	transition: opacity $timing--overview-hover ease-in-out;
}

.loader--pending {
	opacity: 1;
}

.loader--loaded {
	opacity: 0;
}

.loader__image {
	height: 100%;
	width: 3.33%;
	position: relative;
	display: inline-block;
	transition: opacity 0.12s ease-out;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.loader__image--dim {
	opacity: 0.2;
}

.loader__image--lit {
	opacity: 1;
}