/* COLORS */
$black: #000000;
$white: #FFFFFF;
$dark-grey: #252525;
$medium-grey: #444444;
$brand-pink: #F54997;

/* TRANSITIONS */
$easing: cubic-bezier(0.77, 0, 0.175, 1);

/* FONTS */
$fonts: 'Source Code Pro', 'Office Code Pro', 'Courier New', 'Courier', 'monospace', 'serif';
$font-size: 100%;
$line-height: 1;