/* COLORS */
$black: #000000;
$white: #FFFFFF;
$dark-grey: #252525;
$medium-grey: #444444;

$liam-yellow: #FFD002;
$unloaded-grey: #D8D8D8;


/* TRANSITIONS */
$easing: cubic-bezier(0.77, 0, 0.175, 1);
$timing--overview-hover: 0.4s;
$timing--loaded: 0.8s;
$timing--lightbox-show: 0.4s;

/* FONTS */
$fonts: 'CooperHewittBookItalic', 'Helvetica', 'sans-serif';
$font-size: 100%;
$line-height: 1;


/* SIZES */
$size--overview-item-padding: 12px;
$size--overview-item-padding--mobile: 8px;
$size--site-side-padding: 50px;
$size--site-side-padding--mobile: 20px;

$size--large-image: 100vh;
$size--medium-image: 70vh;
$size--small-image: 40vh;

$size--medium-image--mobile: 60vh;
$size--small-image--mobile: 30vh;


$size--overview-story-item: 10%;
$size--overview-story-item--mobile: 20%;



@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin xl {
	@media (min-width: 1920px) {
		@content;
	}
}



/* TYPE */
%typo--breadcrumb {
	font-family: 'CooperHewittBookItalic', sans-serif;
	font-size: rem(12px);
	letter-spacing: em(0.35px);
}

%typo--wordmark {
	font-family: 'CooperHewittBoldItalic', sans-serif;
	font-size: rem(12px);
	letter-spacing: em(1.05px);
	text-transform: uppercase;
}

%typo--showstopper-wordmark {
	font-family: 'CooperHewittBoldItalic', sans-serif;
	font-size: rem(40px);
	letter-spacing: em(3.7px);
	text-transform: uppercase;

	@include mobile {
		font-size: rem(32px);
		letter-spacing: em(3.7px);
	}
}

%typo--overview-story-title {
	@extend %typo--breadcrumb;
}

%typo--title {
	font-family: 'CooperHewittBoldItalic', sans-serif;
	font-size: rem(60px);
	letter-spacing: em(0.1px);
	line-height: 1.2em;
}

%typo--subtitle {
	font-family: 'Libre Baskerville', 'Times New Roman', serif;
	font-size: rem(16px);
	letter-spacing: em(0.2px);
	font-weight: bold;
}

%typo--tag {
	@extend %typo--breadcrumb;
}

%typo--about-text {
	font-family: 'Libre Baskerville', 'Times New Roman', serif;
	font-size: rem(16px);
	line-height: rem(23px);
	letter-spacing: em(0.2px);
	font-weight: bold;
}

%typo--contact {
	@extend %typo--breadcrumb;
	line-height: 1.8em;
}

%typo--credits {
	font-family: 'CooperHewittBookItalic', sans-serif;
	font-size: rem(11px);
	letter-spacing: 0.05em;
	line-height: 1.5em;
}

%typo--caption {
	font-family: 'Libre Baskerville', 'Times New Roman', serif;
	font-size: rem(11px);
	line-height: rem(18px);
}

%typo--next-up {
	font-family: 'CooperHewittBookItalic', sans-serif;
	font-size: rem(14px);
}

%typo--next-up-title {
	font-family: 'CooperHewittBoldItalic', sans-serif;
	font-size: rem(26px);
}



