/* COLORS */
$black: #000000;
$white: #FFFFFF;
$dark-grey: #252525;
$medium-grey: #444444;

$liam-yellow: #FFD002;


/* TRANSITIONS */
$easing: cubic-bezier(0.77, 0, 0.175, 1);
$timing--overview-hover: 0.22s;
$timing--loaded: 0.8s;

/* FONTS */
$fonts: 'CooperHewittBookItalic', 'Helvetica', 'sans-serif';
$font-size: 100%;
$line-height: 1;


/* SIZES */
$size--overview-item-padding: 12px;
$size--site-side-padding: 50px;

$size--large-image: 100vh;
$size--medium-image: 70vh;
$size--small-image: 40vh;


/* TYPE */
%typo--breadcrumb {
	font-family: 'CooperHewittBookItalic', sans-serif;
	font-size: rem(12px);
	letter-spacing: em(0.35px);
}

%typo--wordmark {
	font-family: 'CooperHewittBoldItalic', sans-serif;
	font-size: rem(12px);
	letter-spacing: em(1.05px);
	text-transform: uppercase;
}

%typo--showstopper-wordmark {
	font-family: 'CooperHewittBoldItalic', sans-serif;
	font-size: rem(40px);
	letter-spacing: em(3.7px);
	text-transform: uppercase;
}

%typo--title {
	font-family: 'CooperHewittBoldItalic', sans-serif;
	font-size: rem(60px);
	letter-spacing: em(0.1px);
	line-height: 1.1em;
}

%typo--subtitle {
	font-family: 'Libre Baskerville', 'Times New Roman', serif;
	font-size: rem(16px);
	letter-spacing: em(0.2px);
	font-weight: bold;
}

%typo--about-text {
	font-family: 'Libre Baskerville', 'Times New Roman', serif;
	font-size: rem(16px);
	line-height: rem(23px);
	letter-spacing: em(0.2px);
	font-weight: bold;
}

%typo--contact {
	font-family: 'CooperHewittBookItalic', sans-serif;
	font-size: rem(14px);
	line-height: rem(23px);
	letter-spacing: em(0.8px);
}

%typo--credits {
	font-family: 'CooperHewittBookItalic', sans-serif;
	font-size: rem(12px);
	letter-spacing: em(0.7px);
	line-height: 1.5em;
}