.page-content {
	opacity: 0;
	transition: opacity 0.1s ease-in;
}

.page-content--ready {
	opacity: 1;
}

.transition--fade-enter {
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.transition--fade-enter.transition--fade-enter-active {
	opacity: 1;
 	transition: opacity 0.5s ease-in;
	transition-delay: 0.4s;
}

.transition--fade-leave {
	opacity: 1;
	position: absolute;
	pointer-events: none;
}

.transition--fade-leave.transition--fade-leave-active {
	opacity: 0.01;
	transition: opacity 0.4s ease-in;
}