.page {
	position: absolute;
}

.page-content {
	opacity: 0;
	transition: opacity 0.1s ease-in;
}

.page-content--ready {
	opacity: 1;
}

.transition--fade-enter {
  opacity: 0.01;
}

.transition--fade-enter.transition--fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.transition--fade-leave {
  opacity: 1;
}

.transition--fade-leave.transition--fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}