@import 'util/_imports';
@import 'util/_fonts';
@import './resets';
@import './styles.scss';

body, html {
	font-family: $fonts;
	font-size: $font-size;
	padding: 0;
	margin: 0;
	transition: background 0.12s ease;
	transition-delay: 0.33s;
	will-change: scroll-position;
	text-rendering: optimizeLegibility;
}

body {
	background: $liam-yellow;
	user-select: none;
	user-select: none !important;
	-webkit-user-select: none !important;
	-webkit-touch-callout: none !important;
}

body.is-init {
	background: #FFFFFF;
}

a {
	text-decoration: none;
	color: inherit;
	user-select: none !important;
	-webkit-user-select: none !important;
	-webkit-touch-callout: none !important;
}

* {
	-webkit-tap-highlight-color: transparent;
}

@import '../layouts/Master/_master.scss';
@import '../pages/Home/_home.scss';
@import '../pages/Story/_story.scss';

@import '../components/shared/About/_about.scss';
@import '../components/shared/Nav/_nav.scss';
@import '../components/shared/Title/_title.scss';

@import '../components/home/Loader/_loader.scss';
@import '../components/home/Overview/_overview.scss';
@import '../components/home/OverviewStory/_overview-story.scss';
@import '../components/home/OverviewStoryItem/_overview-story-item.scss';
@import '../components/home/Showstopper/_showstopper.scss';

@import '../components/story/StoryItem/_story-item.scss';
@import '../components/story/Lightbox/_lightbox.scss';