.lightbox {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0;
	position: absolute;
	cursor: zoom-out;
	transition: opacity $timing--lightbox-show ease;
}

.lightbox--hidden {
	opacity: 0;
	pointer-events: none;
}

.lightbox__inner {
	display: inline-block;
	position: relative;
}

.lightbox__image {
	position: relative;
}

.lightbox__image--tall {
	width: 100vw;
	height: auto;
}

.lightbox__image--wide {
	width: auto;
	height: 100vh;
}