.about {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($liam-yellow, 0.97);
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	padding: #{(100vh - $size--medium-image) / 2} $size--site-side-padding $size--site-side-padding $size--site-side-padding;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-out;
	transform: scale(1);
	transform-origin: 50% 50%;

	@include mobile {
		padding: #{(100vh - $size--medium-image--mobile) / 2} $size--site-side-padding--mobile #{$size--site-side-padding--mobile - 7px} $size--site-side-padding--mobile;
	}

	@include xl {
		padding: #{(100vh - $size--medium-image) / 2} $size--site-side-padding--xl #{$size--site-side-padding--xl - 7px} $size--site-side-padding--xl;
	}
}

.about a {
	color: inherit;
	text-decoration: none;
}

.about a:hover {
	text-decoration: underline;
}

.about--display-none {
	display: none;
}

.about--hidden {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in;
	transform: scale(1.033);

	@include mobile {
		display: none;
		transform: scale(1);
	}
}

.about__text {
	max-width: 66%;
	width: 550px;
	margin-bottom: 40px;
	margin-top: -6px;
	@extend %typo--about-text;

	@include mobile {
		width: 90%;
		max-width: 890%;
	}

	@include xl {
		width: 650px; 
		margin-bottom: 80px;
	}
}

.about__text p:not(:last-child) {
	margin-bottom: 16px;
}

.about__contact {
	margin-bottom: 20px;
	width: 550px;
	@extend %typo--contact;

	@include mobile {
		width: 90%;
		margin-bottom: 12px;
	}

	@include xl {
		margin-bottom: 30px;
	}
}

.about__address {
	@extend %typo--contact;
	max-width: 550px;
	margin-bottom: 30px;

	@include mobile {
		width: 90%;
		margin-bottom: 12px;
	}

}

.about__links {
	max-width: 550px;
	margin-bottom: 70px;
	@extend %typo--contact;
	
	@include xl {
		width: 90%;
		margin-bottom: 100px;
	}
}

.about__credits {
	max-width: 550px;
	@extend %typo--contact;
}

.about__credits span {
	display: block;
}