.scroll-hint {
	@extend %typo--scroll-hint;
	transition: opacity 0.22s ease-out;
	position: fixed;
	top: -12px;
	left: 15px;
	display: inline-block;

	@include mobile {
		display: none;
	}
}

.scroll-hint--hidden {
	opacity: 0;
}

.scroll-hint__inner {
	line-height: 1em;
	border: 1px solid rgba(44,44,44,0.7);
	border-radius: 3px;
	padding: 6px 5px 3px 6px;
	display: inline-block;
	transform-origin: 50% 50%;
}
